/* VIDEO */
/* size */
#video-container {
    position: fixed; /* Use fixed positioning to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set a negative z-index to place it behind other elements */
}

#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Disable native controls in WebKit browsers */
#video-container video::-webkit-media-controls {
    display: none !important; 
}

html {
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

body {
    background-image: url('https://i.pinimg.com/564x/b1/e0/81/b1e081cc867950ce53f5f3f8ed7cdda1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

div {
    box-sizing: border-box;
}

#navbar {
    height: 100px;
}

#flex {
    display: flex;
    height: calc(100vh - 100px);
}
#empty{
    width: 15%;
}
#main {
    width: 80%;
    position: relative;
    z-index: 1; /* Set a higher z-index to place it in front of the video */
}
/* VIDEO */
/* size */
#sidebar {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    z-index: 1; /* Set a higher z-index to place it in front of the video */
}

.sidebar-item {
    margin-bottom: 50px;
}

.sidebar-item p {
    transform: rotate(90deg);
    white-space: nowrap;
    overflow: hidden;
    transform-origin: 0 5;
}

.sidebar-item img {
    width: 40px; /* Adjust the width of the small icon */
    height: 50px; /* Adjust the height of the small icon */
}

/* .container {
    border-color: rgb(60, 255, 0);
    border-style: dotted;
    border-width: 1px;
} */
